<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Hello world. Welcome to my brain.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 animated hinge webkit-slow-10">
        <div id="hideafter" class="typewrite" data-period="2000" data-type='[ "Sometimes my sites break.", "But that rarely happens..."]'>
          <span id="#wrap"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="hide" class="container animated slideInUp">
    <div class="row">
      <div class="col-lg-6 main-container">
        <!-- TODO UNCOMMENT THIS LINE and fix this ugly thing
          <div id="info-icon">
            <h3><span class="animated tada lightred-font glyphicon glyphicon-info-sign" style="display:inline-block"></span><span class="lightred-font"> In here, we go by Sean.</span></h3>
            <div id="text-drop">
              <p>Click the class buttons for the .cpp</p>
            </div>
          </div>
        -->
          <h3>struct <span class="darkblue-font">Identity</span> {</h3>
          <h3 style="font-size:18px;">std::string first_name = "Sean";</h3>
          <h3 style="font-size:18px;">std::string last_name = "Hulse";</h3>
          <h3>};</h3>
          <h1>class <span class="darkblue-font">ComputerScientist</span> {</h1>
          <h3 class="lightred-font" style="font-size:22px;"><span class="darkblue-font">public:</span></h3>
          <div class="padding-left-20">
            <div class="padding-bottom-5">
              <button id="default-constructor-button" class="btn btn-primary btn-xs"><h4 class="white-font">ComputerScientist (); </h4></button>
              <div id="default-constructor" class="animated pull-tab-container">
                <p>We all know the "default" human constructor. If you don't know... birds and bees are involved.</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="constructor-button" class="btn btn-primary btn-xs"><h4 class="white-font">ComputerScientist (int, std::string, std::string, std::string); </h4></button>
              <div id="constructor" class="animated pull-tab-container">
                <p>ComputerScientist::ComputerScientist (int years, std::string primary_language, std::string first_name, std::string last_name) {</p>
                  <p class="margin-left-40"> name_.first_name = first_name;</p>
                  <p class="margin-left-40"> name_.last_name = last_name;</p>
                  <p class="margin-left-40"> experience_.push_back({years, primary_langauge})</p>
                <p>}</p>
                <p>//ComputerScientist(3, "C++", "Sean", "Hulse");</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="destructor-button" class="btn btn-primary btn-xs"><h4 class="white-font">~ComputerScientist (); </h4></button>
              <div id="destructor" class="animated pull-tab-container">
                <p>//Why would you do this to me?</p>
                <p>ComputerScientist::~ComputerScientist () {</p>
                  <p class="margin-left-40">for (auto iter : experience_) { </p>
                  <p class="margin-left-80">delete &amp;iter;</p>
                  <p class="margin-left-40">}</p>
                <p>}</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="education-button" class="btn btn-primary btn-xs"><h4 class="white-font">void printEducation (); </h4></button>
              <div id="education" class="animated pull-tab-container " style="margin-top:-400px">
                <p>void ComputerScientist::printEducation () {</p>
                  <p class="margin-left-40">std::cout << "Bachelor of Arts: English Literature (2014)\n";</p>
                  <p class="margin-left-40">std::cout << "C++:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory C++ (100) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Intermediate C++ (200) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Advanced C++ (300) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Data Structures and Algorithms (300) \n"</p>
                  <p class="margin-left-40">std::cout << "Java:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory Java (100) \n"</p>
                  <p class="margin-left-40">std::cout << "SQL:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introduction to Database Management Systems(100) \n"</p>
                  <p class="margin-left-40">std::cout << "Linux:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory Linux (100) \n"</p>
                  <p class="margin-left-40">std::cout << "Mathematics:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Calc I, Calc II, and Calc III \n"</p>
                  <p class="margin-left-80">std::cout << "\t Discrete Computational \n"</p>
                <p>}</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="job-button" class="btn btn-primary btn-xs"><h4 class="white-font">print jobHistory (); </h4></button>
              <div id="job" class="animated pull-tab-container">
                <p>void ComputerScientist::printJobHistory () {</p>
                  <p class="margin-left-40">std::cout << "Web Developer (PHP) - Legacy Exteriors - 2017\n";
                  <p class="margin-left-40">std::cout << "IT Technician (Linux) - Transform Partners - 2015-2016\n";
                  <p class="margin-left-40">std::cout << "SEO / Marketing - StoneImpressions - 2015\n";
                <p>}</p>
              </div>
            </div>
          </div>
          <h3 style="font-size:22px;"><span class="darkblue-font">private:</span></h3>
          <div class="padding-left-20">
            <h3 style="font-size:18px;">Identity name_;</h3>
            <h3 style="font-size:18px;">std::vector&lt;std::pair&lt;int, std::string>> experience_;</h3>
          </div>
      <h1>};</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 main-container">
      <h1 style="text-align:center">Got tired of reading code?</h1>
      <a id="resume-button"><h3><span class="lightred-font glyphicon glyphicon-info-sign" style="display:inline-block"></span>
        <span class="lightred-font"> Click here for a cleaner output.</span></h3>
      </a>
        <div id="resume" class="animated pull-tab-container" style="margin-top:-850px; padding-left: 20px;margin-left:600px;">
          <p style="margin-left:150px;">Sean Hulse</p>
          <p style="margin-left:150px;">(858) 342-6382</p>
          <p style="margin-left:150px;">seanjhulse@gmail.com</p>
          <p style="margin-left:150px;">Madison, Wisconsin</p>
          <hr>
          <b>Employment</b>
          <p>Title: Web Developer</p>
          <p>Company: Legacy Exteriors</p>
          <p>Dates: 2016-Present</p>
          <hr>
          <p>Title: IT Technician</p>
          <p>Company: Transform Partners</p>
          <p>Dates: 2015-2016</p>
          <hr>
          <p>Title: Marketing Temp</p>
          <p>Company: StoneImpressions</p>
          <p>Dates: 2014-2015</p>
          <hr>
          <b>Education</b>
          <p>English Literature</p>
          <p>Bachelor of Arts</p>
          <p>University of Redlands</p>
          <hr>
          <b>Post-Graduate Studies</b>
          <p>C.S.</p>
          <p>C++, Java, SQL, Linux</p>
          <p>Mathematics</p>
          <p>Calc I, II, III &amp; Discrete Computational</p>
        </div>
    </div>
  </div>
</div>
  </body>
</html>
