<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Hello world. Welcome to my brain.</h2>
      </div>
    </div>
    <!--TODO ADD 'uncomment at end'

    <div class="row">
      <div class="col-md-6 animated hinge webkit-slow-10">
        <div id="hideafter" class="typewrite" data-period="2000" data-type='[ "Sometimes my sites break.", "But that rarely happens..."]'>
          <span id="#wrap"></span>
        </div>
      </div>
    </div>
  -->
    <!--TODO ADD 'animated slideInUp' to class list and 'hide' to id -->
    <div id="" class="row">
      <div class="col-lg-6 main-container">
          <div id="info-icon">
            <h1><span class="animated tada webkit-slow-2 lightred-font glyphicon glyphicon-info-sign" style="display:inline-block"></span> In here, we go by Sean.</h1>
            <div id="text-drop" class="padding-left-50">
              <h6>Click the class buttons for the .cpp</h6>
            </div>
          </div>
          <hr>
          <h3>struct Identity {</h3>
          <h3 style="font-size:18px;">std::string first_name = "Sean";</h3>
          <h3 style="font-size:18px;">std::string last_name = "Hulse";</h3>
          <h3>};</h3>
          <h1>class <span class="lightred-font">ComputerScientist</span> {</h1>
          <h3 class="lightred-font" style="font-size:22px;"><span class="lightred-font">public:</span></h3>
          <div class="padding-left-20">
            <div class="padding-bottom-5">
              <button id="default-constructor-button" class="btn btn-info btn-xs"><h4 class="white-font">ComputerScientist (); </h4></button>
              <div id="default-constructor" class="animated pull-tab-container">
                <p>We all know the "default" human constructor. If you don't know... birds and bees are involved.</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="constructor-button" class="btn btn-info btn-xs"><h4 class="white-font">ComputerScientist (int, std::string, std::string, std::string); </h4></button>
              <div id="constructor" class="animated pull-tab-container">
                <p>ComputerScientist::ComputerScientist (int years, std::string primary_language, std::string first_name, std::string last_name) {</p>
                  <p class="margin-left-40"> Name.first_name = first_name;</p>
                  <p class="margin-left-40"> Name.last_name = last_name;</p>
                  <p class="margin-left-40"> experience_.push_back({years, primary_langauge})</p>
                <p>}</p>
                <p>//ComputerScientist(3, "C++", "Sean", "Hulse");</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="destructor-button" class="btn btn-info btn-xs"><h4 class="white-font">~ComputerScientist (); </h4></button>
              <div id="destructor" class="animated pull-tab-container">
                <p>//Why would you do this to me?</p>
                <p>ComputerScientist::~ComputerScientist () {</p>
                  <p class="margin-left-40">for (auto iter : experience_) { </p>
                  <p class="margin-left-80">delete &amp;iter;</p>
                  <p class="margin-left-40">}</p>
                <p>}</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="education-button" class="btn btn-info btn-xs"><h4 class="white-font">void printEducation (); </h4></button>
              <div id="education" class="animated pull-tab-container">
                <p>void ComputerScientist::printEducation () {</p>
                  <p class="margin-left-40">std::cout << "Bachelor of Arts: English Literature (2014)\n";</p>
                  <p class="margin-left-40">std::cout << "C++:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory C++ (100) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Intermediate C++ (200) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Advanced C++ (300) \n"</p>
                  <p class="margin-left-80">std::cout << "\t Data Structures and Algorithms (300) \n"</p>
                  <p class="margin-left-40">std::cout << "Java:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory Java (100) \n"</p>
                  <p class="margin-left-40">std::cout << "SQL:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introduction to Database Management Systems(100) \n"</p>
                  <p class="margin-left-40">std::cout << "Linux:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Introductory Linux (100) \n"</p>
                  <p class="margin-left-40">std::cout << "Mathematics:\n";</p>
                  <p class="margin-left-80">std::cout << "\t Calc I, Calc II, and Calc III \n"</p>
                  <p class="margin-left-80">std::cout << "\t Discrete Computational \n"</p>
                <p>}</p>
              </div>
            </div>
            <div class="padding-bottom-5">
              <button id="job-button" class="btn btn-info btn-xs"><h4 class="white-font">print jobHistory (); </h4></button>
              <div id="job" class="animated pull-tab-container">
                <p>void ComputerScientist::printJobHistory () {</p>
                  <p class="margin-left-40">std::cout << "IT Technician - Transform Partners - 2015-2016\n";
                  <p class="margin-left-40">std::cout << "Web Developer - Legacy Exteriors - 2017\n";
                  <p class="margin-left-40">std::cout << "SEO / Marketing - StoneImpressions - 2015\n";
                <p>}</p>
              </div>
            </div>
          <h3 style="font-size:22px;"><span class="lightred-font">private:</span></h3>
          <div class="padding-left-20">
            <h3 style="font-size:18px;">Identity name_;</h3>
            <h3 style="font-size:18px;">std::vector&lt;std::pair&lt;int, std::string>> experience_;</h3>
          </div>
          <h1>};</h1>
      </div>
    </div>
  </div>
  </body>
</html>
