<head>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Hello world. Welcome to my brain.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 animated hinge webkit-slow-13">
      <div class="typewrite" data-period="2000" data-type='[ "Sometimes my stuff breaks.", "But that rarely happens..."]'>
        <span id="#wrap"></span>
      </div>
    </div>
  </div>
</div>
</body>
