// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//bars//
.teal-bar {
  background-color: #a3c2c2;
  display: block;
  width: 100%;
}
.green-bar {
  background-color: #8cd98c;
  display: block;
  width: 100%;
}
.dark-green-bar {
  background-color: #001a00;
  display: block;
  width: 100%;
}
.gray-bar {
  background-color: #999999;
  display: block;
  width: 100%;
}
//end bars//
//big containers//
body {
  background-color: #0099ff !important;
  margin: 0 auto;
}
.main-container{
  background-color: #ffffff;
  display: block;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
}
.pull-tab-container {
  background-color: #ffffff;
  width:100%;
  position: absolute;
  margin-top: -50px;
  margin-left: 520px;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
}
//end Big containers//
//code containers
#default-constructor {
  display: none;
  z-index: -1;
}
#constructor {
  display: none;
  z-index: -1;
}
#destructor {
  display: none;
  z-index: -1;
}
#education {
  display: none;
  z-index: -1;
}
#job {
  display: none;
  z-index: -1;
}
//end containers//
//fonts//
h1 {
  color: #0099ff !important;
  font-weight: bolder !important;
}
h2 {
  color: #ffffff !important;
}
h3 {
  color: #0099ff !important;
  font-weight: bolder !important;
}
h4 {
  color: #000000 !important;
}
p {
  padding-left: 40px !important;
  font-family: monospace !important;
}
.black-font {
  color: #000000;
}
.red-font {
  color: #ff0000;
}
.lightred-font{
  color: #ff4d4d
}
.orange-font {
  color: #ff6600;
}
.lightgreen-font{
  color: #00cc66;
}
.darkgreen-font {
  color: #336600 !important;
}
.blue-font {
  color: #0000ff;
}
.lightblue-font{
  color: #809fff;
}
.white-font {
  color: #ffffff !important;
}
hr {
    background-color: dimgray !important;
    color: dimgray !important;
    border: solid 0px dimgray !important;
    height: 1px !important;
    width: 95% !important;
}
button {
  border-radius: 5px;
  background-color: #0066cc;
  color: white;
  z-index: 1;
}
//end fonts//
//padding//
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-bottom-20 {
  padding-bottom:20px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-50 {
  padding-left: 50px;
}
//end padding//
//margin//
.margin-left-20{
  margin-left: 20px;
}
.margin-left-40{
  margin-left: 40px;
}
.margin-left-80{
  margin-left: 80px;
}
//end margin//
//shadow//
.shadow-small {
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.25);
}
//animation//
//misc//
.slide-arrow{

}
//end misc//
//hovers//
#text-drop {
  visibility: hidden;
  opacity: 0;
}
#info-icon:hover #text-drop {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
}
//infinite
.webkit-infinite {
  -webkit-animation:infinite; /* Safari 4.0 - 8.0 */
    animation:infinite;
}
//end infinite//
//slows//
.webkit-slow-2 {
  -webkit-animation-delay:2s; /* Safari 4.0 - 8.0 */
    animation-delay:2s;
}
.webkit-slow-10 {
  -webkit-animation-delay: 9.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 9.5s;
}
.webkit-slow-11 {
  -webkit-animation-delay: 11s; /* Safari 4.0 - 8.0 */
    animation-delay: 11s;
}
.webkit-slow-13 {
  -webkit-animation-delay: 13s; /* Safari 4.0 - 8.0 */
    animation-delay: 13s;
}
.webkit-slow-15 {
  -webkit-animation-delay: 15s; /* Safari 4.0 - 8.0 */
    animation-delay: 15s;
}
//end slows//
//end animation//
//javascript spans//
#hide {
  display: none;
}
#hideafter {
}
//end javascript spans//
