// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//bars//
.teal-bar {
  background-color: #a3c2c2;
  display: block;
  width: 100%;
}
.green-bar {
  background-color: #8cd98c;
  display: block;
  width: 100%;
}
.dark-green-bar {
  background-color: #001a00;
  display: block;
  width: 100%;
}
.gray-bar {
  background-color: #999999;
  display: block;
  width: 100%;
}
//end bars//
//big containers//
.main-container{
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
}
//end containers//
//fonts//
h1,h2,h3 {
  color: #bfbfbf !important;
}
.red-font {
  color: #ff0000;
}
.blue-font {
  color: #0000ff;
}
.lightblue-font{
  color: #809fff;
}
//end fonts//
//padding//
.padding-bottom-20 {
  padding-bottom:20px;
}
//end padding//
//animation//
//slows//
.webkit-slow-10 {
  -webkit-animation-delay: 9.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 9.5s;
}
.webkit-slow-11 {
  -webkit-animation-delay: 11s; /* Safari 4.0 - 8.0 */
    animation-delay: 11s;
}
.webkit-slow-13 {
  -webkit-animation-delay: 13s; /* Safari 4.0 - 8.0 */
    animation-delay: 13s;
}
.webkit-slow-15 {
  -webkit-animation-delay: 15s; /* Safari 4.0 - 8.0 */
    animation-delay: 15s;
}
//end slows//
//end animation//
//javascript spans//
#hide {
  display: none;
}
#hideafter {
}
//end javascript spans//
